.form-group{
    margin-bottom: 1rem;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
}
.nav-bar>a,.nav-bar>p {
    margin: 0 1rem;
    color: white;
}
.table{
    margin: 4rem;
    box-shadow: darkgray;
    transition: ease-in-out 1s;
    text-align: center;
}
.table:hover{
    box-shadow: 2px 2px lightgray;
    transition: ease-in-out 1s;
}
.asset{
    width: 35%;
}
.userFormContainer{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.userFormContainer>form{
    width: 30%;
}